<div ngClass="headers">
  <a ngClass="youtube-logo">
    <picture>
      <img src="../../assets/youtube-music-logo.svg" />
    </picture>
  </a>

  <nav ngClass="navbar-options">
    <mat-button-toggle-group >
      <mat-button-toggle>Início</mat-button-toggle>
      <mat-button-toggle>Explorar</mat-button-toggle>
      <mat-button-toggle>Biblioteca</mat-button-toggle>
      <mat-button-toggle> Pesquisar </mat-button-toggle>
    </mat-button-toggle-group>
  </nav>

  <div ngClass="user-profile-avatar">
    <picture>
      <img src="../../assets/user-profile-avatar.png" />
    </picture>
  </div>
</div>
